@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

html {
    font-family: "Poppins", sans-serif;
    color:white;
    background-color: #202020;
}

.container {
    width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-bg {
    position: relative;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

/*  Header */

#navbar {
    display: flex;
    flex-wrap: wrap;
}

#navbar a {
    text-decoration: none;
}

#navbar h1 {
    cursor: pointer;
}

#navbar h1 span {
    color: red;
}

#navbar .navbar {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 36px auto;
    align-items: center;
}

#navbar .nav-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#navbar .nav-items li a {
    text-transform: uppercase;
    padding: 10px 16px;
    font-weight: bold;
    color: white;
    flex: 1;
    transition: all ease .5s;
}

#navbar .nav-items li a:hover {
    color: red;
    border-bottom: solid red 2px;
}

 /* End Header */

/* Main Container */

#header h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
    position: relative;
}

#heaader a {
    text-decoration: none;
}

#header h1:nth-child(2){
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: .5em;
}

#header .header-bg {
    position: relative;
    width: 100%;
}

#header .header {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    height: 80vh;
}

#header .headline {
    display: block;
}

#header .photo {
    position: relative;
    flex: 1 1 260px;
}

#header .photo img {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    transition: 1s ease all;
}

#header .cta {
    font-size: 2rem;
    color: crimson;
    border: solid 2px crimson;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .25s ease;
}

#header .cta:hover {
    background-color: crimson;
    color: white
}

/* End Main Container */